body {
    background-color: #ebe7e0;
    font: 23pt Arial;
    font-family: 'VT323', monospace;
}

main {
    
    background-color: #303032;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px #97ce4c;
}

h1 {
    color: 	#97ce4c;
}

.titulo-2{
    color:rgba(0, 0, 0, 0.529);
    font-size: 25px;
}

h2 {
    color: #f0e14a;
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color: #97ce4c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}
li{

    color: aliceblue;
}
a, a:visited {
    color:#97ce4c;
    font-weight: bolder;
}

a:hover {
    color:#f0e14a;
    text-decoration: none;
}